<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/payment-success.css">
    <title>Health Highway | Payment Successful</title>
</head>

<body>
    <header>
        <!-- navbar -->
    </header>
    <main>
        <section id="success">
            <div class="success-img"><img src="/images/check.png" alt="success"></div>
            <h1>Your Session is Booked Successfully</h1>
            <a href="dashboard.html" class="get-started-btn">Get Started</a>
            <a href="pricing.html" class="link">Book another session</a>
        </section>
        <section class="payment-card-container">
            <div class="payment-card">
                <img src="/images/ryan_T002gZcin.jpeg" alt="" />
                <div class="pay-text-area">
                    <div class="pay-title-container">
                        <div class="pay-title">
                            <h3>Yoga for Students</h3>
                            <p>by Sandeep</p>
                        </div>
                        <div class="trusted-container">
                            <h3>Trusted By <br />104 people</h3>
                        </div>
                    </div>
                    <div class="payment-btn-time">
                        <button>Pay INR 1000</button>
                        <p>6:00 PM</p>
                    </div>
                </div>
            </div>
            <div class="payment-card">
                <img src="/images/ryan_T002gZcin.jpeg" alt="" />
                <div class="pay-text-area">
                    <div class="pay-title-container">
                        <div class="pay-title">
                            <h3>Yoga for Students and teachers</h3>
                            <p>by Sandeep</p>
                        </div>
                        <div class="trusted-container">
                            <h3>Trusted By <br />104 people</h3>
                        </div>
                    </div>
                    <div class="payment-btn-time">
                        <button>Pay INR 1000</button>
                        <p>6:00 PM</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>